<!DOCTYPE html>
<html>
<head>
  <title>TwoYouApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% current_user ? username = current_user.username : username = nil %>
<% current_user ? user_id = current_user.id : user_id = nil %>
<%= 
    react_component 'Header', 
      currentUser: username,
      currentUserID: user_id,
      postsPath: posts_path,
      newUserPath: signup_path,
      loginPath: login_path,
      activeNav: @active_nav %>
<%= yield %>

</body>
</html>
