<!DOCTYPE html>
<html>
<head>
  <title>TwoYouApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= react_component 'Header', 
      postsPath: posts_path,
      newUserPath: signup_path,
      activeNav: @active_nav %>
<%= yield %>

</body>
</html>
